

        <li class="gallery__item" data-id="{{id}}">
            <div class="gallery__image-wrapper">{{#if poster_path}}<img data-src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{original_title}}" loading="lazy"
                class="lazyload blur-up">{{else}}<img src="https://via.placeholder.com/274x410&text=No poster :(">{{/if}}</div>
            <p class="gallery__info-name">{{title}}</p>
            <ul class="gallery__info-genre">{{#each genre_names}}<li class="gallery__info-item">{{this}}</li>{{/each}}<li class="gallery__info-item gallery__date">| {{release_date}}</li><li class="gallery__info-item gallery__info-rating hidden_markup">{{vote_average}}</li></ul>
        </li>

